<% current_user.numenera_characters.each do |character| %>
<div>
    <%= link_to "#{character.character_name} is a #{ character.character_descriptor}
    #{character.character_type}
    who #{character.character_focus}", show_numenera_character_path(character) %>
</div>
<% end %>

<%= link_to 'create character', new_numenera_characters_path %>