.navbar-title {
    display: block !important;
}

.navbar {
    height: 54px !important;
    border: 2px solid black;
    color: black;
    background-color: $main-grey;
}

.dropdown-menu {
    border: 2px solid black;
    color: black;
    background-color: $main-grey;
}

#user-name, .caret {
    color: black;
}