// Place all the styles related to the numenera_characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#esotery-description, #skill-description, .character-stats{
    background-color: lightgrey;
    width: 25%;
    border-radius: 5px;
    margin: 5px;
    border : 2px solid black;
}

.char-stats, .char-skills, .char-esotery {
    padding: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);  
}

.numenera-character {
    padding: 10px;
}

.form-check-label {
    padding: 10px;
}

.left-side-numenera-character, .right-side-numenera-character {
    width: 50%;
    padding: 15px;
}

.character-button {
    padding: 5px;
    width: 270px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    background-color: lightslategray;
    border: 1px solid black;
    color: black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);  
}

.character-button:hover {
    background-color:grey;
    font-weight: bolder;
    color: white;
}

// add character skills
#add-numenera-character-skill, .edit-numenera-character-skill, #add-numenera-esotery,
.edit-numenera-esotery {
    background-color : lightgrey;
    padding: 10px;
    margin: 5px;
    display: none;
    width: 25%;
    border : 2px solid black;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);  
}