<div class="navbar-title">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
    </button>
    <%= link_to 'character codex', root_path%>
</div>